In [10]:
# realized volatility data
import pandas as pd
import os

In [9]:
DATA_DIR = '/Users/pujanmaharjan/uni adelaide/uofa_research_project/datasets'

def get_all_train_data():
    train = pd.read_csv(os.path.join(DATA_DIR, 'optiver-realized-volatility-prediction', 'train_time_id_ordered.csv'))
    return train

def get_unique_col_elements(df: pd.DataFrame, col_name: str):
    return list(df[col_name].unique())

In [11]:
df = get_all_train_data()
print('Total data ', df.shape)
df.head()

Total data  (428932, 4)

   stock_id  time_id    target  time_id_order
0         8     4294  0.005047              0
1        47     4294  0.001244              0
2       105     4294  0.002353              0
3        69     4294  0.001616              0
4       111     4294  0.001917              0

In [12]:
stock_ids = get_unique_col_elements(df, 'stock_id')
print('Number of stock ids ', len(stock_ids))

Number of stock ids  112

In [13]:
time_ids = get_unique_col_elements(df, 'time_id')
print('Number of time ids ', len(time_ids))

Number of time ids  3830

In [23]:
import uuid
print(uuid.uuid4())

1a132417-665b-4aa8-b2cf-0e7ac2053977