In [2]:
import pandas as pd

d = [{'id':1, 'age': 1},{'id':2, 'age': 2},{'id':3, 'age': 3}]
df = pd.DataFrame(d)
df

   id  age
0   1    1
1   2    2
2   3    3

In [4]:
df['age_shifted'] = df['age'].shift(periods=1)
df

   id  age  age_shifted
0   1    1          NaN
1   2    2          1.0
2   3    3          2.0